<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556153623188-ndqvhr6ke6a0cpvh3adk0pvi30o53j7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556153623188-ndqvhr6ke6a0cpvh3adk0pvi30o53j7u</string>
	<key>API_KEY</key>
	<string>AIzaSyCVL3BWTJQKpwzAonn-igy1qolDlhrpYDs</string>
	<key>GCM_SENDER_ID</key>
	<string>556153623188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markodevcic.wordTwist</string>
	<key>PROJECT_ID</key>
	<string>word-twist-b3025</string>
	<key>STORAGE_BUCKET</key>
	<string>word-twist-b3025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556153623188:ios:a09cac463f7c948f</string>
	<key>DATABASE_URL</key>
	<string>https://word-twist-b3025.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9486553430171539~9453024169</string>
</dict>
</plist>